* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #000000, #000000);
  color: #eee;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-gap: 20px;
  padding: 20px;
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

/* Header Styling */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: top;
  padding: 30px;
  background: transparent;
  color: #eee;
  margin-bottom: 30px;
}

.below_title {
  margin-top: 20px;
  background: transparent;
}

.main-title {
  font-size: 4rem; /* Large font size for emphasis */
  font-weight: bold;
  line-height: 1.2;
  color: #00FFAA; /* Neon green color to make the title pop */
  text-shadow: 0px 0px 10px rgba(0, 255, 170, 0.7); /* Glowing effect */
  margin-bottom: 10px;
}

.sub-title {
  font-size: 2rem; /* Smaller font size for subtitle */
  font-weight: bold;
  color: #ffffff; /* Neon green color */
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7); /* Glowing effect */
}

.description {
  font-size: 1.3rem;
  margin-top: 10px;
  color: #c9c0b5; 
  text-shadow: 0px 0px 2px rgba(0, 255, 170, 0.7); /* Glowing effect */
  max-width: 800px;
  margin-bottom: 30px;
}
.glossary {
  border-right: 3px solid white;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
}
.glossary_title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* Neon green color */
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7); /* Glowing effect */
  text-align: left;
}
.glossary_text {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ffffff; 
  text-shadow: 0px 0px 2px rgba(0, 255, 170, 0.7); /* Glowing effect */
  align-self: top;
  position: relative;
  text-align: left;

}

li {
  line-height: 1.5;
}

hr {
  margin-top: 1.5%;
}
.map-container {
  margin-top: 10%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7);
  margin-left: 10%;
}

.map-container canvas {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.slot-machine {
  float: left;
  width: 342px;
  background: transparent;
  border: 5px solid #00FFAA;
  color: #00FFAA; 
  text-shadow: 0px 0px 10px rgba(0, 255, 170, 0.7); 
  border-radius: 10px;
  padding: 10px;
  margin: 0 15px;
  margin-left: 0px;
}

.reel {
  width: 100px;
  height: 200px;
  border: 2px solid #00FFAA;
  border-radius: 5px;
  margin: 0 2px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.symbol {
  font-size: 60px;
  font-weight: bold;
}

.ssymbol {
  font-size: 40px;
  font-weight: bold;
}

/* Section 2 */
.sect2 {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: top;
  padding: 20px;
  background: transparent;
  margin-bottom: 10px;
}

.data_description {
  margin-top: 20px;
  text-align: left;
}
.title {
  font-size: 2rem; /* Large font size for emphasis */
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff; /* Neon green color to make the title pop */
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7); /* Glowing effect */
  margin-bottom: 10px;
  text-align: left;
  justify-content: center;
}

.normal_title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7);
  margin-left: 30%;
  margin-right: 30%;
}

.right {
  margin-left: 10%;
}

.sect3 {
  display: grid;
  padding: 10px;
  background: transparent;
  margin-bottom: 30px;
  width: 100%;
}

.sect3-hm {
  display: flex;
  justify-content: center;
}

.sect3_desc {
  font-size: 1.3rem;
  color: #c9c0b5;
  text-shadow: 0px 0px 2px rgba(0, 255, 170, 0.7);
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}

/* Footer Styling */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

.extras {
  margin-left: 3%;
  margin-right: 3%;
}


.podium {
  width: 252px;
  background: transparent;
  color: #00FFAA; 
  text-shadow: 0px 0px 10px rgba(0, 255, 170, 0.7); 
  padding: 10px; 
  margin-left: 20%;
}

.level1 {
  width: 70px;
  height: 130px;
  border: 2px solid #00FFAA;
  border-radius: 5px;
  margin: 0 2px;
  margin-top: 70px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.level2 {
  width: 70px;
  height: 180px;
  border: 2px solid #00FFAA;
  border-radius: 5px;
  margin: 0 2px;
  margin-top: 20px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.level3 {
  width: 70px;
  height: 100px;
  border: 2px solid #00FFAA;
  border-radius: 5px;
  margin: 0 2px;
  margin-top: 100px;
  margin-left: 1%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.neon_dot {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00FFAA;
  box-shadow: 0 0 10px #00FFAA, 0 0 20px #00FFAA;
  margin: 10px;
  margin-top: 12px;
}

strong {
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7);
  color: #eee;
}




