* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1b1d33, #000000);
  color: #ffffff;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  grid-gap: 20px;
  padding: 20px;
  min-height: 100vh; /* Full viewport height */
}

/* Header Styling */
.header {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr; 
  align-items: top;
  padding: 20px;
  background: transparent;
  color: #ffffff;
  max-height: 500px;
  margin-bottom: 30px;
}

.main-title {
  font-size: 4rem; /* Large font size for emphasis */
  font-weight: bold;
  line-height: 1.2;
  color: #00FFAA; /* Neon green color to make the title pop */
  text-shadow: 0px 0px 10px rgba(0, 255, 170, 0.7); /* Glowing effect */
  margin-bottom: 10px;
}

.sub-title {
  font-size: 2rem; /* Smaller font size for subtitle */
  font-weight: bold;
  color: #ffffff; /* Neon green color */
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7); /* Glowing effect */
}

.description {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ffffff; 
  text-shadow: 0px 0px 2px rgba(0, 255, 170, 0.7); /* Glowing effect */
  max-width: 800px;
  align-self: center;
  position: relative;
}

.glossary_title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* Neon green color */
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7); /* Glowing effect */
}
.glossary_text {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ffffff; 
  text-shadow: 0px 0px 2px rgba(0, 255, 170, 0.7); /* Glowing effect */
  max-width: 800px;
  align-self: top;
  position: relative;
}

li {
  line-height: 1.5;
}

.map-container {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(0, 255, 170, 0.7);
}

.map-container canvas {
  width: 100%; 
  max-width: 800px; 
  max-height: 400px;
}

/* Main Content Layout */
.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for sections */
  grid-gap: 20px;
}

.section {
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
}

/* Footer Styling */
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

